.main-heading{
	color:blue;
}
.paragraph{
	color:grey;
}
.bg-container{
	height:100vh;
	background-image: url("https://ec.europa.eu/stories/protecting-ocean/assets/MMNdxDbqEM/intro_3-frame-0ms-1920x1080.jpg")
	background-size:cover;
}
.card{
	text-align:center;
	background-color:white;
}