.main-heading{
	color:blue;
}
.paragraph{
	color:grey;
}
.bg-container{
	height:100vh;
	background-image: url("https://tourism.telangana.gov.in/storage/app/media/rammappa.webp");
	background-size:cover;
}
.card{
	text-align:center;
	background-color:white;
}
.button{
	height:10px;
	width:20px;
}